html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
}

:root,
body {
	background-color: var(--joplin-background-color);
	color: var(--joplin-color);
	margin: 0;
	padding: 0;
}

.panel-root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
}

.panel-header {
	border-bottom: 1px solid var(--joplin-color-faded, rgb(86, 85, 85));
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 10px 12px 9px;
	width: 100%;
	box-sizing: border-box;
}

.panel-header__title {
	margin: 0;
	font-size: 13px;
	font-weight: 600;
}

.graph-panel_close {
	background-color: transparent;
	border: none;
	color: var(--joplin-color);
	cursor: pointer;
	font-size: 12px;
	line-height: 1;
	padding: 4px 6px;
	margin-left: auto;
}

.graph-panel_close svg {
	width: 14px;
	height: 14px;
	vertical-align: middle;
	display: inline-block;
}
.graph-panel_close svg path {
	fill: currentColor;
}
